* {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}


.navigation {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 20% 50px 20%;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.left-navigation {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.right-navigation {
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 15px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    padding: 10px 20% 70px 20%;

}

.right-header {
    height: 100px;
    width: 450px;
}

.left-header {
    width: 400px;
}

.left-header p {
    padding-bottom: 7px;
}

.information {
    padding: 40px 200px 80px 200px;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding-bottom: 30px;
}
.inf-section {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.inf-piece {
    width: 150px;
    text-align: center;
}
.inf-piece img {
    width: 150px;
    height: 150px;
    border-radius: 9px;
}

.comment {
    background-color: #E5E7EB;
    padding: 90px 25% 70px 25%;
}

.comment-text {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.comment-signature {
    text-align: right;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 7px;
    padding: 4px 14px;
}

.subscription {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 60px 20%;
    padding: 40px 75px;
    border-radius: 7px;
    color: white;
}

.subscription button {
    border: solid white 2px;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 20px;
}